@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #0F172A;
    --background-secondary: #1E293B;
    --primary: #2563EB;
    --highlight: #06B6D4;
    --text: #F1F5F9;
    --text-secondary: #94A3B8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.bg-color{
    background-color: var(--background);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--background-secondary);
}

.logo{
    color: var(--text);
}

.anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-secondary);

    margin: 100px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.762);
}

.titulo-info{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text);
}
.text-info{
    font-size: 1.2rem;
    padding: 40px;
    color: var(--text-secondary);
}

.ver-info{
    background-color: var(--primary);
    color: var(--text);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.ver-info:hover{
    color: #1E293B;
    background-color: var(--highlight);
}